@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "reset.css";
.hidden {
  display: none;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 80%;
}
#clock {
  font-size: 100px;
  font-weight: bold;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login-form {
  margin-top: 20px;
}
#login-form input {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  width: 200px;
  height: 20px;
  color: white;
  font-size: 20px;
}
#login-form input::placeholder {
  color: white;
  font-size: 20px;
}
#greeting {
  margin-top: 20px;
  color: white;
  font-size: 20px;
}
.todo-wrap {
  margin-top: 20px;
}
#todo-form input {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  width: 200px;
  height: 20px;
  color: white;
  font-size: 20px;
}
#todo-form input::placeholder {
  color: white;
  font-size: 20px;
}
#todo-list {
  margin-top: 20px;
}
#todo-list li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
#todo-list button {
  background: none;
  border: none;
}
#todo-list li {
  color: white;
  font-size: 20px;
}
#weather {
  position: absolute;
  bottom: 40px;
}
#weather span {
  color: black;
  font-size: 15px;
}
